<ul class="list-unstyled">
  <% @microposts.each do |micropost| %>
    <li class="media mb-3">
      <img class="mr-2 rounded" src="<%= gravatar_url(micropost.user, { size: 50 }) %>" alt="">
      <div class="media-body">
        <div>
          <%= link_to micropost.user.name, user_path(micropost.user) %> <span class="text-muted">作成日<%= micropost.created_at.strftime("%Y年%-m月%-d日 %-H時%-M分") %></span>
        </div>
        <div>
          <a class="live-detail" href="/">
          <h4 class="mb-0"><%= micropost.content %></h4>
          <p class="mb-0">日時 <%= micropost.livedatetime.strftime("%Y年%-m月%-d日 %-H時%-M分") %></p>
          <p class="mb-0">会場 <%= micropost.liveplace %></p>
          </a>
        </div>
        <div>
         <div class="btn-group"> 
          <%= render 'favorites/favorite_button' , micropost: micropost %>
          
          <a class="nav-link share-btn" href="http://twitter.com/share?url=<%= request.url %>&text=「福岡ぼっちLIVE」で一緒にライブに行ってくださる方募集してます！一人でライブに行く予定の方いらっしゃいませんか？&hashtags=福岡ぼっちLIVE &hashtags=ぼっち参戦" target="_blank_" rel="nofollow">
            <i class="fab fa-twitter" ></i>
          </a>
          
          <% if current_user == micropost.user %>
            <%= link_to "ライブ削除", micropost, method: :delete, data: { confirm: "You sure?" }, class: 'btn btn-danger btn-sm' %>
          <% end %>
         </div>
        </div>
      </div>
    </li>
  <% end %>
  <%= paginate @microposts %>
</ul>