<header class="mb-4">
  <nav class="navbar navbar-expand-sm navbar-dark bg-dark">
    <a class="navbar-brand" href="/">福岡ぼっちLIVE</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse justify-content-end" id="navbarSupportedContent">
      <ul class="navbar-nav">
          <% if logged_in? %>
          <form class="navbar-form" action="/" role="search">
          <%= form_tag root_path, :method => 'get' do %>
            <%= text_field_tag :search, params[:search], class:"search-form", placeholder:"ライブ検索"%>
            <%= button_tag :type => "submit",:name => nil ,:class =>"btn btn-default search-icon" do %>
              <i class="fas fa-search"></i>       
            <% end %> 
          <% end %>
          </form> 
          <li class="nav-item">
            <a class="nav-link" href="<%= new_micropost_path(current_user) %>">
              <i class="far fa-plus-square live-icon" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= likes_user_path(current_user) %>">
              <i class="fa fa-heart favorite-icon" aria-hidden="true"></i>
            </a>
          </li>
          <li class="nav-item dropdown">
            <a href="#" class="nav-link dropdown-toggle name" data-toggle="dropdown"><%= current_user.name %></a>
            <ul class="dropdown-menu dropdown-menu-right">
              
              <li class="dropdown-item"><%= link_to 'プロフィール', user_path(current_user) %></li>
              <li class="dropdown-divider"></li>
              <li class="dropdown-item"><%= link_to 'ログアウト', logout_path, method: :delete %></li>
            </ul>
          </li>
        <% else %>
          <li class="nav-item">
            <a class="nav-link" href="<%= signup_path %>">
              <i class="new-btn" aria-hidden="true">新規登録</i>
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="<%= login_path %>">
              <i class="login-btn" aria-hidden="true">ログイン</i>
            </a>
          </li>
        <% end %>
      </ul>
    </div>
  </nav>
</header>